{{ define "_navbar_admin" }}

<nav class="navbar w-11/12 m-auto">
    <div class="w-full">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/admin/dashboard">Pengguna</a></li>
            <li><a href="/admin/symptoms">Gejala</a></li>
            <li><a href="/admin/diseases">Penyakit</a></li>
            <li><a href="/admin/treatments">Tindakan</a></li>
            <li><a href="/admin/diagnosys-history">Riwayat Diagnosis</a></li>
            <li><a href="/">Keluar</a></li>
        </ul>
    </div>
</nav>

{{ end }}
