{{ define "admin_login" }}

<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "_header"}}
    <title>Login</title>
</head>
<body>
    <main class="flex justify-center items-center h-screen">
        <div class="card bg-base-100 w-96 max-sm:w-11/12 shadow-2xl items-center m-auto">
            <div class="card-body items-center">
                <h1 class="card-title text-center">Admin</h1>
    
                <form action="/api/v1/admin/login" method="post" class="w-full">

                    {{ .csrfField }}
        
                    <div class="my-4">
                        <label for="username">Username</label>
                        <input class="input input-bordered w-full" type="text" name="username" id="username" required placeholder="Username">
                    </div>
        
                    <div class="my-4">
                        <label for="password">
                            Password 
                        </label>
                        <label for="warn" id="warn">
                            <span id="warn-text" class="text-red-500">* Panjang password minimal 8</span>
                        </label>
                        <input class="input input-bordered w-full" type="password" name="password" id="password" required placeholder="Password" minlength="8">
                    </div>
        
                    <div class="card-actions">
                        <button type="submit" class="btn btn-primary w-full">Login Sekarang</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <script src="/static/scripts/eventPassword.js"></script>
</body>
</html>    

{{ end }}
