{{ define "disease" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "_header" }}
    <title>Daftar Tindakan</title>
</head>
<body>
    <header>
        {{ template "_navbar_admin"}}
    </header>

    <main>
        <div class="overflow-x-auto m-auto card w-11/12">
            <div class="card-body">
                <h1 class="card-title">Data Tindakan</h1>
                <table class="card-body table table-xs">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Deskripsi</th>
                            <th>Action</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <!-- {{range $user := .Data}}
                        <tr>
                            <td>{{ $user.Id }}</td>
                            <td>{{ $user.Username }}</td>
                            <td>{{ $user.FullName }}</td>
                            <td>{{ $user.Phone }}</td>
                            <td>{{ $user.BirthDate }}</td>
                        </tr>
                        {{ end }} -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>
{{ end }}
