{{ define "change_password" }}

<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "_header" }}
    <title>Ganti Password Anda</title>
</head>
<body>

    <header>
        {{ template "_navbar_user"}}
    </header>

    <main>
        <div class="card bg-base-100 w-11/12 lg:w-96 shadow-2xl items-center m-auto mt-8">
            <div class="card-body items-center">
                <h1 class="card-title text-center">Ganti Password Anda</h1>
    
                <form id="change_password" class="w-full">

                    {{ .csrfField}}

                    <div class="my-4">
                        <label for="old_password">Password Lama Anda</label>
                        <input class="input input-bordered w-full max-w-xs" type="password" name="old_password" id="old_password" required placeholder="Password lama anda">
                    </div>

                    <div class="my-4">
                        <label for="new_password">Password Baru Anda</label>
                        <input class="input input-bordered w-full max-w-xs" type="password" name="new_password" id="new_password" required placeholder="Password baru anda" minlength="8">
                    </div>
                    
                    <div class="my-4">
                        <label for="confirm_new_password">Konfirmasi Password Baru Anda</label>
                        <input class="input input-bordered w-full max-w-xs" type="password" name="confirm_new_password" id="confirm_new_password" required placeholder="Konfirmasi password baru anda" minlength="8">
                    </div>
                    
                    <div class="card-actions">
                        <button type="button" class="btn btn-primary w-full" onclick="changePassword()">Ganti Password Anda</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="/static/scripts/changePassword.js"></script>
</body>
</html>

{{ end }}
